---
import './card-portfolio.css';
import type { PortafolioData } from '../data/portfolioData';

const {
    title,
    description,
    imgSrc,
    skills,
    repoURL,
    averageBrightness,
    slug,
} = Astro.props as PortafolioData;

const base = import.meta.env.BASE_URL;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		height={130}
		width={332}
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="description__container">
		<h2 class="card__title">{title}</h2>
		<div class="description">
			<p>{description}</p>

			<div class="skills">
				{
					skills.map((skill: string) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				<a href={`${base}projects/${slug}/`}>
					<span>
						Doc
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a>
				<a href={repoURL}>
					<span>
						Github
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a>

				<!-- <a href={demoURL}>
					<span>
						Demo
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a> -->
			</div>
		</div>
	</div>
</div>
