---
import BTSCards from '../../components/BTSCards.astro';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/header/Header.astro';
import { menuBTS, tableauData, veilleData, realisationsData } from '../../components/data/menuData';
import Footer from '../../components/Footer/Footer.astro';

// Créer un tableau des pages BTS triées par position
const btspages = [tableauData, veilleData, realisationsData].sort((a, b) => a.position - b.position);
---

<Layout title="bts">
	<Header origin={menuBTS}/>
	<main class="self-center w-full">
		<section class="blog__section min-h-[100dvh]">
			<ul class="blog__elements">
				{
					btspages.map((btspage) => (
						<li>
							<BTSCards
								title={btspage.title}
								content={btspage.description}
								img={btspage.heroImage}
								href={`/bts/${btspage.slug}/`}								
							>
							</BTSCards>
						</li>
					))
				}
			</ul>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	.blog__section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	.blog__elements {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 3rem;
		justify-content: center;
		width: 100%;
		max-width: 1371px;
	}
	@media screen and (max-width: 768px) {
		.blog__section {
			margin-top: 8rem;
			padding: 4rem 0;
			min-height: 100dvh;
		}
	}
</style>
