---
import '../../styles/global.css';
import type { Contents } from '../../types/sections';

const base = import.meta.env.BASE_URL;

const contents: Contents = {
	titre1: {
		title: `Gérer le patrimoine informatique`,
		content: `
    <div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Recenser et identifier les ressources numériques</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Dans le cadre de la réouverture du magasin Afflelou après travaux, j’ai mené un recensement complet du parc informatique. Ce travail a permis d’identifier et de documenter l’ensemble des postes, périphériques et logiciels utilisés, afin d’optimiser le suivi technique et la gestion du matériel en magasin à l'avenir.
						Ayant aussi réalisé ce même inventaire avant les travaux, j'ai pu objectivement constater les changements et les améliorations apportées au matériel informatique. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/realisations/#aa-page-5">
					<img class="pdf-icon" src="/portfolio/img/AP_AA.png" alt="PDF Icon Afflelou">
				</a>
            </div>
        </div>
    </div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Exploiter des référentiels, normes et standards adoptés par le prestataire informatique</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Pour préparer mon environnement de développement chez Iknae Techno, j’ai déployé une machine virtuelle Ubuntu selon les standards professionnels. Le choix d’un OS open-source, la configuration réseau en bridge, l’installation des VMware Tools et la gestion de snapshots ont permis de garantir un environnement stable, sécurisé et conforme aux pratiques en entreprise.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#iknae-page-6">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Iknae.png" alt="PDF Icon Iknae">
				</a>
            </div>
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	À l’occasion de la remise en service du parc informatique après les travaux, j’ai paramétré l’impression des documents dans le logiciel métier Cosium pour tous les postes de travail. Afin d'être plus efficace et d'éviter de potentielles erreurs, j’ai standardisé leur configuration pour l’ensemble des postes. Cette approche m’a permis de m’aligner sur les référentiels internes de l’entreprise tout en garantissant une cohérence des impressions sur les différents supports. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/realisations/#aa-page-11">
					<img class="pdf-icon" src="/portfolio/img/AP_AA.png" alt="PDF Icon Afflelou">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Mettre en place et vérifier les niveaux d'habilitation associés à un service</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Pour le projet Optitop, j’ai conçu un système de gestion des habilitations reposant sur des rôles utilisateurs définis : admin, manager, supermanager et collaborateur. Chaque rôle possède des droits d’accès spécifiques aux différentes fonctionnalités, pages et types d'applications (web ou mobile). Un tel dispositif permet d’assurer une navigation sécurisée et adaptée à chaque profil.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-10">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Vérifier les conditions de continuité d'un service informatique</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Au cours de mon stage chez Iknae Techno, j’ai procédé à la création régulière de snapshots de la machine virtuelle Ubuntu dédiée à mon environnement de développement. Cette stratégie permettait d'assurer une restauration rapide en cas de dysfonctionnement et ainsi de maintenir la continuité du service. En sécurisant chaque étape d’avancement par des sauvegardes ponctuelles, j’ai pu garantir la stabilité et la fiabilité de l'environnement de travail tout au long de mon stage.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#iknae-page-11">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Iknae.png" alt="PDF Icon Iknae">
				</a>
            </div>
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Lors de l’intégration des lunettes connectées Ray-Ban Meta chez Afflelou, j’ai assuré leur mise à jour logicielle ainsi que la configuration réseau nécessaire à leur fonctionnement. Lors de l’installation, une version du firmware était obsolète, j’ai donc autorisé l’accès au réseau local pour procéder à la mise à jour, puis activé les mises à jour automatiques pour garantir la pérennité du service. J’ai ensuite validé le bon fonctionnement de l’ensemble des fonctionnalités (photo, vidéo, commandes vocales). Cette démarche a permis d’assurer une continuité de service fiable pour les démonstrations clients. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/realisations/#aa-page-29">
					<img class="pdf-icon" src="/portfolio/img/AP_AA.png" alt="PDF Icon Afflelou">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Gérer les sauvegardes</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Pour garantir la pérennité des données de l’application Optitop, j’ai conçu un système de sauvegarde automatique de la base MySQL. Les sauvegardes sont stockées sur un disque réseau monté spécifiquement à cet effet, et l’exécution du script est planifiée de manière récurrente. Cette organisation permet d’assurer une restauration rapide en cas d’incident ou de perte de données.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-59">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Vérifier le respect des règles d’utilisation des ressources numériques</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Dans le projet Optitop, j’ai mis en place une politique de mot de passe rigoureuse afin de sécuriser l’accès aux comptes utilisateurs. Le système impose une complexité minimale (longueur, types de caractères), une double saisie pour validation et un hachage systématique avec l’algorithme BCrypt. Cette configuration garantit le respect des bonnes pratiques de sécurité et contribue à un usage responsable des ressources numériques.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-89">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>`,
	},
	titre2: {
		title: `Répondre aux incidents et aux demandes d'assistance et d'évolution`,
		content: `
	 <div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Collecter, suivre et orienter des demandes</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Au sein de l’équipe frontend de ThanksBoss, j’ai utilisé l’outil Rock pour gérer les demandes sous forme de tickets. Chaque tâche était suivie à travers un processus structuré : collecte, priorisation, progression par étapes, et validation en préproduction. Ce système collaboratif m’a permis d’assurer un suivi rigoureux des demandes et de faciliter leur traitement au sein de l’équipe. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-7">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
            </div>
        </div>
    </div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Traiter des demandes concernant les services réseau et système, applicatifs</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	J’ai été chargée de déployer une machine virtuelle Ubuntu pour mettre en place un environnement de développement adapté à la gestion de bases de données. J’ai configuré le réseau en mode bridge, installé les outils système nécessaires (PostgreSQL, PHP...), mis à jour le système, et assuré la stabilité de l’environnement. Ces actions m’ont permis de répondre à une demande précise liée à la préparation technique d’un futur service applicatif. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#iknae-page-9">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Iknae.png" alt="PDF Icon Iknae">
				</a>
            </div>
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Dans le cadre de mon poste chez Afflelou, j’ai assuré la résolution de plusieurs incidents techniques, notamment la remise en service d’un scanner, la reconfiguration du partage de fichiers sur le réseau local, et l’ajustement des paramètres d’impression dans le logiciel métier Cosium. Ces interventions ont permis de rétablir ou d’améliorer l’accès aux services essentiels du magasin pour l’ensemble des utilisateurs. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/realisations/#aa-page-13">
					<img class="pdf-icon" src="/portfolio/img/AP_AA.png" alt="PDF Icon Afflelou">
				</a>
            </div>
        </div>
    </div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Traiter des demandes concernant les applications</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Lors de mon stage chez ThanksBoss, j’ai participé à l’évolution de la plateforme web en développant de nouvelles pages pour les recruteurs, telles que le profil et sa prévisualisation. J’ai échangé avec l’équipe backend concernant la structure de la base de données afin qu'ils ajoutent de nouveaux champs requis. Ces actions ont permis de répondre à des besoins fonctionnels concrets et d’améliorer l’expérience utilisateur. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-11">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
            </div>
        </div>
		 <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Dans le projet Optitop, j’ai conçu plusieurs interfaces personnalisées en fonction des rôles utilisateurs, développé la fonctionnalité d’import de fichiers CSV liés aux ventes, et intégré l’API backend pour alimenter les tableaux statistiques. Ces développements ont permis de répondre aux besoins métiers de manière précise et d’offrir une expérience utilisateur adaptée à chaque profil.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-9">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
    </div>`,
	},
	titre3: {
		title: `Développer la présence en ligne de l'organisation`,
		content: `
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Participer à la valorisation de l’image de l’organisation sur les médias numériques en tenant compte du cadre juridique et des enjeux économiques</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	J’ai conçu et publié mon portfolio en ligne afin de présenter mon parcours, mes projets et mes compétences de manière claire et professionnelle. Ce support, hébergé sur GitHub Pages, respecte le cadre juridique en vigueur : il ne contient ni données personnelles sensibles, ni éléments soumis à droits d’auteur sans autorisation. Il répond aussi à des enjeux économiques en renforçant ma visibilité, tout en reflétant une image cohérente, crédible et alignée avec les codes du numérique professionnel. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/">
					<img class="pdf-icon" src="/portfolio/img/img_joy.png" alt="Icon portfolio">
				</a>
            </div>
        </div>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Mon compte GitHub public me permet de centraliser et valoriser l’ensemble de mes projets techniques, réalisés notamment dans le cadre du BTS SIO. L’accès libre au code respecte les droits d’auteur (projets personnels uniquement) et contribue à mon image professionnelle. Il soutient une démarche de transparence, de sérieux et d’engagement dans les bonnes pratiques du développement. 
                	</p>
				</div>
				<a class="pdf-link" href="https://github.com/joyhure">
					<iconify-icon
							icon="line-md:github-loop"
							width="75"
							height="75"
							style="color: #dcd8fc"></iconify-icon>
				</a>
            </div>
        </div>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Mon profil LinkedIn me permet de présenter publiquement mon parcours et mes expériences. Il renforce ma visibilité auprès des professionnels du secteur et s’inscrit dans une stratégie de présence numérique conforme aux usages actuels du recrutement. Les informations diffusées sont vérifiées, non confidentielles, et alignées avec mon image professionnelle, dans le respect des règles de diffusion et des enjeux liés à l’identité numérique. 
                	</p>
				</div>
				<a class="pdf-link" href="https://www.linkedin.com/in/joy-huré-8223ab62">
					<iconify-icon
							icon="line-md:linkedin"
							width="75"
							height="75"
							style="color: #dcd8fc"></iconify-icon>
				</a>
            </div>
        </div>
    </div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Participer à l’évolution d’un site Web exploitant les données de l’organisation</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Avec le projet Optitop, j’ai développé une application web dynamique connectée à une base de données MySQL. J’ai mis en place des interfaces permettant d’importer les données de ventes de l'organisation, puis de les exploiter à travers des tableaux statistiques interactifs selon les rôles utilisateurs. Chaque page du site affiche des données actualisées issues de la base, ce qui répond à un besoin métier concret de pilotage commercial.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-14">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>`,
	},
	titre4: {
		title: `Travailler en mode projet`,
		content: `
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Analyser les objectifs et les modalités d’organisation d’un projet</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Le projet Optitop répond à une problématique métier identifiée dans un magasin d’optique franchisé, confronté à la complexité de suivi manuel des performances commerciales. J’ai analysé les besoins spécifiques de chaque niveau hiérarchique (collaborateur, manager, supermanager) afin de proposer une solution logicielle adaptée. L’organisation du projet s’est appuyée sur une structuration claire des objectifs fonctionnels (statistiques, comptes, accès différenciés) et techniques (architecture API REST, base de données MySQL, sécurité). Cette analyse m’a permis de concevoir un projet cohérent, réaliste et ancré dans un contexte professionnel concret.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-5">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Planifier les activités</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Lors de mon stage chez ThanksBoss, j’ai participé activement à l’organisation des tâches en identifiant et en documentant des bugs rencontrés lors des tests. J’ai rédigé et intégré plusieurs tickets dans l’outil Rock, en précisant les anomalies constatées, les conditions de reproduction et les correctifs attendus. Ces contributions m’ont permis de prendre part à la planification des corrections à effectuer, en lien direct avec les priorités de l’équipe et le cycle de développement en place. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-21">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
        	</div>			
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Pour structurer le développement du projet Optitop, j’ai utilisé l’outil Trello en appliquant la méthode Kanban. Chaque tâche a été organisée en colonnes selon son état d’avancement (à faire, en cours, à valider, terminé), ce qui m’a permis de visualiser la progression du projet, de prioriser les actions à mener, et de planifier les étapes de manière autonome et progressive.
	             	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-102">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Évaluer les indicateurs de suivi d’un projet et analyser les écarts</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Pour le projet Optitop, j’ai conçu des maquettes initiales avec Figma avant d’entamer le développement. En comparant ces mockups aux interfaces finales, j’ai pu identifier plusieurs écarts : certains modules ont été simplifiés pour des raisons de temps ou de pertinence métier, d’autres ont été réorganisés pour améliorer l’ergonomie. Cette analyse m’a permis d’ajuster mes priorités et de recentrer les efforts de développement sur les fonctionnalités à forte valeur ajoutée.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-6">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>`,
	},
	titre5: {
		title: `Mettre à disposition des utilisateurs un service informatique`,
		content: `
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Réaliser les tests d’intégration et d’acceptation d’un service</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Dans le cadre de mon stage chez ThanksBoss, j’ai utilisé l’outil Postman pour tester les routes de l’API avant leur intégration côté frontend. Ces tests m’ont permis de vérifier l’affichage des données, le bon fonctionnement des requêtes, ainsi que la cohérence des retours serveurs. Cette étape de validation a été essentielle pour assurer une intégration fluide des fonctionnalités dans l’interface utilisateur mais aussi pour expliquer certains dysfonctionnements afin d'y remédier. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-19">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
        	</div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Déployer un service</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Chez Iknae Techno, j’ai déployé un environnement de travail complet sur une machine virtuelle Ubuntu. Ce déploiement incluait l’installation et la configuration d’outils tels que PostgreSQL, PHP et Pascal, ainsi que la mise en place d’un accès réseau en mode bridge. Un snapshot a été réalisé après configuration pour sécuriser l’environnement. Cette mise en place a permis de disposer d’un espace de test opérationnel pour les futurs développements du service envisagé.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#iknae-page-6">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Iknae.png" alt="PDF Icon Iknae">
				</a>
            </div>
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Le backend de l’application Optitop a été déployé sur une machine virtuelle Ubuntu configurée avec un réseau en mode bridge. J’y ai installé et configuré un serveur MySQL, déployé l’API REST développée en Spring Boot, et ouvert les ports nécessaires pour permettre la communication entre le frontend et l’API. Ce déploiement a permis de simuler un environnement réel de production, avec une gestion sécurisée des accès et une architecture exploitable depuis un navigateur local.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-50">
					<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
				</a>
            </div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Accompagner les utilisateurs dans la mise en place d’un service</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Lors de l’arrivée des lunettes connectées Ray-Ban META chez Afflelou, j’ai pris en charge leur installation et accompagné l’équipe dans leur prise en main. J’ai configuré l’équipement, expliqué son fonctionnement, et guidé mes collègues dans les premières manipulations. L’objectif était de permettre à l’équipe de présenter rapidement les fonctionnalités aux clients et de leur faire tester le produit en autonomie, afin de favoriser son intégration dans le processus de vente.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/realisations/#aa-page-23">
					<img class="pdf-icon" src="/portfolio/img/AP_AA.png" alt="PDF Icon Afflelou">
				</a>
            </div>
        </div>
    </div>`,
	},
	titre6: {
		title: `Organiser son développement professionnel`,
		content: `
		<div class="section-container">
        	<h3 class="subtitles collapsible">
            	<span class="h3-content">Mettre en place son environnement d’apprentissage personnel</span>
         		<iconify-icon
                	icon="gridicons:dropdown"
                	class="collapse-icon"
                	width="24"
                	height="24">
            	</iconify-icon>
        	</h3>
			<div class="collapsible-content">
				<div class="competence-content">
            		<div class="content-flex">
                		<iconify-icon
                    		icon="line-md:chevron-small-double-right"
                    		class="icon-arrow"
                    		style="color: #B182EF;"
                    		width="20"
                    		height="20">
						</iconify-icon>
						<p class="p-content">
                    		Le projet Optitop m’a permis de développer un environnement d’apprentissage complet, en me formant de manière autonome à des technologies que je ne maîtrisais pas en début de formation, telles que Spring Boot, Flutter ou la gestion d’API REST. Une partie du projet a nécessité la configuration spécifique d’un environnement mobile avec Flutter, Android Studio et un émulateur Android. Cette étape m’a permis d’explorer un nouvel écosystème, de le connecter à mes outils existants, et de développer une interface mobile complémentaire à l’application web.
                		</p>
					</div>
					<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-37">
						<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
					</a>
         		</div>
			</div>
		</div>
		<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Mettre en œuvre des outils et stratégies de veille informationnelle</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Lors de mon stage chez ThanksBoss, j’ai mis en œuvre une stratégie de veille pour surmonter des blocages techniques et progresser sur les technologies utilisées (Vue.js, GitLab, Postman). J’ai régulièrement mobilisé des outils comme ChatGPT ou GitHub Copilot pour explorer des solutions, comprendre des concepts, et ajuster mes implémentations. Cette veille active m’a permis d’avancer de façon autonome tout en respectant les standards de l’équipe de développement. 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-26">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
        	</div>
		</div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Gérer son identité professionnelle</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
        <div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	J’ai structuré mon identité numérique en créant un portfolio en ligne (hébergé sur GitHub Pages) pour valoriser mes projets et compétences. J’y présente notamment le projet Optitop, dont le code source est publié sur GitHub dans un dépôt public, organisé selon les conventions professionnelles. Cette démarche me permet d'affirmer mon positionnement technique, de communiquer avec clarté sur mes compétences et de faciliter la reconnaissance de mon profil par les professionnels du secteur.
                	</p>
				</div>
				<a class="pdf-link" href="https://github.com/joyhure">
					<iconify-icon
							icon="line-md:github-loop"
							width="75"
							height="75"
							style="color: #dcd8fc"></iconify-icon>
				</a>
            </div>
        </div>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	J’ai développé mon identité numérique en maintenant un profil LinkedIn à jour et aligné avec mes objectifs professionnels. Il reflète mon parcours, mes compétences en informatique et mes expériences en entreprise. Je m’en sers pour me connecter avec des professionnels du secteur et c'est notamment par cet outil que j'ai pu obtenir mon deuxième stage chez Thanks-Boss. Cet usage maîtrisé de LinkedIn renforce la visibilité de mon profil dans un cadre professionnel.
                	</p>
				</div>
				<a class="pdf-link" href="https://www.linkedin.com/in/joy-huré-8223ab62">
					<iconify-icon
							icon="line-md:linkedin"
							width="75"
							height="75"
							style="color: #dcd8fc"></iconify-icon>
				</a>
            </div>
        </div>
	</div>
	<div class="section-container">
        <h3 class="subtitles collapsible">
            <span class="h3-content">Développer son projet professionnel</span>
            <iconify-icon
                icon="gridicons:dropdown"
                class="collapse-icon"
                width="24"
                height="24">
            </iconify-icon>
        </h3>
		<div class="collapsible-content">
			<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Mon stage chez ThanksBoss a joué un rôle clé dans la construction de mon projet professionnel. En travaillant au sein d’une équipe de développement web sur un projet réel, j’ai pu mesurer concrètement les exigences du métier, tant techniques qu’organisationnelles. Cette immersion m’a permis de confirmer mon souhait de m’orienter vers le développement web, en consolidant ma motivation et en développant des compétences directement liées à mon objectif professionnel.
 
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#thanksboss-page-26">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Thanksboss.png" alt="PDF Icon Thanks-Boss">
				</a>
        	</div>
		</div>
		<div class="competence-content">
            	<div class="content-flex">
                	<iconify-icon
                    	icon="line-md:chevron-small-double-right"
                    	class="icon-arrow"
                    	style="color: #B182EF;"
                    	width="20"
                    	height="20">
                	</iconify-icon>
                	<p class="p-content">
                    	Le stage chez Iknae Techno m’a permis de poser les bases techniques de mon projet professionnel. J’y ai installé et configuré un environnement complet de développement orienté bases de données, en m’initiant à PostgreSQL, pgAdmin et PHP. Cette immersion m’a aidée à comprendre les exigences concrètes du métier de développeur, tout en m’apportant une première expérience structurante sur les choix technologiques à envisager dans la poursuite de mon parcours.
                	</p>
				</div>
				<a class="pdf-link" href="/portfolio/bts/stages/#iknae-page-5">
					<img class="pdf-icon" src="/portfolio/img/Rapport_Iknae.png" alt="PDF Icon Iknae">
				</a>
        </div>
		<div class="competence-content">
            		<div class="content-flex">
                		<iconify-icon
                    		icon="line-md:chevron-small-double-right"
                    		class="icon-arrow"
                    		style="color: #B182EF;"
                    		width="20"
                    		height="20">
						</iconify-icon>
						<p class="p-content">
                    		Le projet Optitop a été capital dans mon parcours. Conçu pour l'épreuve E6 et pensé pour répondre à un réel besoin en magasin, il a permis de mettre mes compétences en développement au service de mon entreprise actuelle. J’y ai investi beaucoup de temps et d’énergie, rencontrant de nombreuses difficultés techniques, mais avec un réel plaisir à les surmonter. Optitop m’a donné le sentiment de créer une application profondément utile que j'aimerai plus tard mettre à la disposition du magasin qui m'a inspiré. Ce projet me confirme que je veux poursuivre dans cette voie tout en me dévoilant le monde qu'il m'y reste à découvrir.
                		</p>
					</div>
					<a class="pdf-link" href="/portfolio/projects/optitop/#optitop-page-5">
						<img class="pdf-icon" src="/portfolio/img/optitop.png" alt="PDF Icon Optitop">
					</a>
        </div>
	</div>
	`,
	},
};

// Définir les points de troncature pour chaque titre (uniquement ceux qui doivent être tronqués)
const truncatePoints = {
	titre2: 'demandes',
	titre3: 'ligne',
	titre5: 'utilisateurs',
};

// Fonction pour tronquer le texte après un mot spécifique
function truncateAfterWord(text: string, word?: string) {
	if (!word) return text; // Retourne le texte complet si pas de point de troncature
	const index = text.indexOf(word) + word.length;
	return text.substring(0, index) + '...';
}

const introText = `
    <div class="intro-text">
        <p>Cette page présente les compétences professionnelles évaluées dans le cadre de l'épreuve E5 « Support et mise à disposition de services informatiques ».</p>
		<br />
        <p>Chaque compétence est illustrée par des réalisations concrètes, issues de mes stages, de mon activité professionnelle ou de travaux encadrés réalisés durant ma formation.</p>
    </div>
`;
---

<div class="competences-container">
	<div id="left-part">
		<nav class="menu-vertical">
			<div class="menu-container">
				<ul class="menu-list">
					{
						Object.entries(contents).map(([id, { title }]) => (
							<li>
								<a
									href={`#${id}`}
									class="menu-link"
									data-section={id}
									title={title}
								>
									{truncateAfterWord(
										title,
										truncatePoints[
											id as keyof typeof truncatePoints
										]
									)}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</nav>
		<a
			href={`${base}docs/tableau_synthese.pdf`}
			target="_blank"
			rel="noopener noreferrer"
			class="table-link"
			><iconify-icon
				icon="mdi:file-pdf-box"
				class="icon-link"
				width="45"
				height="45"></iconify-icon><span class="content"
				>Tableau de Synthèse</span
			></a
		>
	</div>

	<div id="content-display" class="content-container">
		<!-- Affichage du texte d'intro par défaut -->
		<Fragment set:html={introText} />
	</div>
</div>

<script define:vars={{ contents, introText }}>
	const contentDisplay = document.querySelector('#content-display');

	if (!contentDisplay) {
		console.error("L'élément content-display n'a pas été trouvé");
		return;
	}

	document.querySelectorAll('.menu-link').forEach((link) => {
		link.addEventListener('click', (e) => {
			e.preventDefault();

			// Vérification de type runtime
			if (!(e.currentTarget instanceof HTMLAnchorElement)) {
				return;
			}

			const sectionId = e.currentTarget.dataset.section;

			// Retire la classe active de tous les liens
			const activeLinks = document.querySelectorAll('.menu-link.active');
			activeLinks.forEach((l) => l.classList.remove('active'));

			// Si on reclique sur le même lien, on affiche le texte d'intro
			if (
				activeLinks.length === 1 &&
				activeLinks[0] === e.currentTarget
			) {
				contentDisplay.innerHTML = introText;
				return;
			}

			// Ajoute la classe active au lien cliqué
			e.currentTarget.classList.add('active');

			// Affiche le contenu correspondant
			if (sectionId && contents[sectionId]) {
				contentDisplay.innerHTML = `
                    <h2>${contents[sectionId].title}</h2>
                    <div>${contents[sectionId].content}</div>
                `;
			}
		});
	});

	document.addEventListener('DOMContentLoaded', function () {
		function setupCollapsibles() {
			document.querySelectorAll('.collapsible').forEach((header) => {
				header.addEventListener('click', function () {
					this.classList.toggle('active');
					const content = this.nextElementSibling;
					content.classList.toggle('collapsed');
				});
			});
		}

		// Configuration initiale
		setupCollapsibles();

		// Pour le contenu dynamique
		const observer = new MutationObserver(function (mutations) {
			mutations.forEach(function (mutation) {
				if (mutation.addedNodes.length) {
					setupCollapsibles();
				}
			});
		});

		// Observer le conteneur de contenu pour les changements
		const contentDisplay = document.getElementById('content-display');
		if (contentDisplay) {
			observer.observe(contentDisplay, {
				childList: true,
				subtree: true,
			});
		}
	});
</script>

<style scoped>
	#left-part {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 3rem;
		padding-block: 3rem;
	}

	.menu-vertical {
		width: auto;
	}

	.menu-container {
		background: #00000033;
		backdrop-filter: blur(20px);
		padding: 1rem;
		border-radius: 14px;
		border: 0.03px solid #7c39fd47;
		width: auto;
	}

	.competences-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 2rem;
	}

	.menu-list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.menu-list li a {
		position: relative;
		color: var(--on-primary);
		font-size: 1.3rem;
		cursor: pointer;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.menu-list li a::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		width: 100%;
		transform: scaleX(0);
		transform-origin: 0;
		height: 2px;
		background: var(--primary);
		transition: 0.35s transform;
	}

	:global(.intro-text) {
		line-height: 1.6;
		width: 69%;
	}

	/* Style pour le lien actif */
	.menu-list li a.active {
		color: var(--primary);
	}

	.menu-list li a.active::after {
		transform: scaleX(1);
		transform-origin: left;
	}

	/* Retirer le hover si le lien est déjà actif */
	.menu-list li a.active:hover::after {
		transform: scaleX(1);
	}

	.menu-list li a:hover {
		color: var(--primary-90);
	}

	.menu-list li a:hover::after {
		transform: scaleX(1);
	}

	.content-container {
		padding: 2rem;
	}

	.menu-link.active {
		color: var(--primary);
	}

	.menu-link.active::after {
		transform: scaleX(1);
	}

	.table-link {
		display: flex;
		flex-direction: row;
		font-size: 1.3rem;
		color: #bee7f5;
		vertical-align: center;
		align-items: center;
		gap: 1rem;
	}

	.table-link:hover {
		color: #4ccce6;
	}

	.content-flex {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: flex-start;
	}

	:global(.content-flex) {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: flex-start;
		justify-content: flex-start;
		width: 69%;
	}

	:global(.subtitles) {
		margin-block: 1rem;
	}

	:global(.pdf-link) {
		display: flex; /* Ajout */
		align-items: center; /* Centrage vertical */
		justify-content: center; /* Centrage horizontal */
		align-self: center;
		width: 96px;
		height: 120px;
		margin-inline: 7rem;
		border: 2px solid transparent;
		transition: border-color 0.3s ease;
		padding: 0.5rem;
		border-radius: 8px;
	}

	:global(.pdf-link:hover) {
		border-color: #d94ce8;
	}

	:global(.competence-content) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		padding-bottom: 2rem;
	}

	:global(.pdf-icon) {
		width: 100%; /* Pour que l'image s'adapte au conteneur */
		height: auto; /* Maintient le ratio */
		object-fit: contain; /* Assure que l'image est entièrement visible */
	}

	:global(.pdf-link:hover) {
		color: #d94ce8;
	}

	@media screen and (max-width: 768px) {
		.menu-vertical {
			bottom: 2rem;
			top: auto;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
		}

		.menu-list {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}

		.content-container {
			margin-left: 0;
			margin-bottom: 150px;
		}
	}

	:global(.section-container) {
		margin-bottom: 2rem;
	}

	:global(.collapsible) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		cursor: pointer;
		user-select: none;
	}

	:global(.collapse-icon) {
		transition: transform 0.3s ease;
		color: #6dddfb;
	}

	:global(.collapsible.active .collapse-icon) {
		transform: rotate(180deg);
	}

	:global(.collapsible-content) {
		max-height: 1000px;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
	}

	:global(.collapsible-content.collapsed) {
		max-height: 0;
	}
</style>
