---
import '../../styles/global.css';

const base = import.meta.env.BASE_URL;
---

<div id="aa-container" class="pdf-content">
    <iframe id="aa" src={`${base}docs/Rapport_AA.pdf#zoom=100`}></iframe>
    <div class="text">
        <h1>Activités Professionnelles : Alain Afflelou</h1>
        <h2 class="text-xx-large">Compétences mises en oeuvre :</h2>
        <p class="competences">
        <ul>
            <li><h3>Gérer le patrimoine informatique : </h3>Recensement du parc informatique, paramétrage et standardisation des impressions.</li>
            <li><h3>Répondre aux incidents et aux demandes d'assistance et d'évolution : </h3>Remise en service d’un scanner, reconfiguration du partage de fichiers sur le réseau local, ajustement des paramètres d’impression dans le logiciel métier Cosium.</li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const hash = window.location.hash;
      const base = `${import.meta.env.BASE_URL || '/'}`;
      if (hash.startsWith('#aa-page-')) {
        const page = hash.split('-')[2];
        const iframe = document.getElementById('aa') as HTMLIFrameElement;
        if (iframe && page) {
          iframe.src = `${base}docs/Rapport_AA.pdf#page=${page}`;
          const aaContainer = document.getElementById('aa-container');
          if (aaContainer) {
            aaContainer.scrollIntoView({ behavior: 'smooth' });
          }
        }
      } else if (hash.startsWith('#thanksboss-page-')) {
        const page = hash.split('-')[2];
        const iframe = document.getElementById('thanksboss') as HTMLIFrameElement;
        if (iframe && page) {
          iframe.src = `${base}docs/Stage_ThanksBoss.pdf#page=${page}`;
          const thanksbossContainer = document.getElementById('thanksboss-container');
          if (thanksbossContainer) {
            thanksbossContainer.scrollIntoView({ behavior: 'smooth' });
          }
        }
      }
    });
  </script>

<style scoped>
iframe {
    width: 870px;
    height: 1172px;
    border: none;
}
.pdf-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2rem;
}
.text {
    width: 40%;
    margin-inline: 2rem;
    padding-top: 3rem;
}

li{
    font-size: var(--text-medium);
    margin-bottom: 1.5rem;
    color: #C2E6FF;
}

.text-center {
    display: none;
}
</style>
