---
import '../../styles/global.css';

const base = import.meta.env.BASE_URL;
---


	<div id="iknae-container" class="pdf-content">
		<iframe id="iknae" src={`${base}docs/Stage_Iknae.pdf`}></iframe>
		<div class="text">
			<h1>1er stage : IKNAE TECHNO</h1>
			<h2 class="text-xx-large">Compétences mises en oeuvre :</h2>
			<p class="competences">
			<ul>
				<li><span>Gérer le patrimoine informatique : </span>Allocation des ressources matérielles de la VM Ubuntu (RAM, CPU, espace disque), sélection des outils de développement nécessaires, installation via des référentiels garantissant l’intégrité des outils, création de snapshots pour restaurer la VM en cas de problème, tests de connectivité réseau pour garantir la communication entre systèmes.</li>
				<li><span>Répondre aux incidents et aux demandes d’assistance et d’évolution : </span>Résolution des problèmes d’affichage sur la VM Ubuntu, vérification des installations et tests de PostgreSQL (création de base, gestion des utilisateurs).</li>
				<li><span>Mettre à disposition des utilisateurs un service informatique : </span>Tests du réseau sur la VM Ubuntu, tests des outils PostgreSQL et pgAdmin, installation complète de la VM Ubuntu, mise à jour et configuration des outils nécessaires, installation et configuration des outils de développement, documentation des étapes d’installation et des commandes.</li>
				<li><span>Organiser son développement professionnel : </span>Création d’un environnement isolé sur VM Ubuntu pour expérimenter et apprendre, configuration de VSCode avec des extensions spécifiques, choix d’outils adaptés au projet, recherche de solutions techniques pour résoudre les problèmes rencontrés, amélioration des compétences pratiques sur des technologies couramment utilisées dans ce secteur.</li>
			</ul>
		</p>
		</div>
	</div>
	<div id="thanksboss-container" class="pdf-content">
		<iframe id="thanksboss" src={`${base}docs/Stage_ThanksBoss.pdf`}></iframe>
		<div class="text">
			<h1>2eme stage : Thanks-boss</h1>
			<h2 class="text-xx-large">Compétences mises en oeuvre :</h2>
			<p class="competences">
			<ul>
				<li><span>Répondre aux incidents et aux demandes d’assistance et d’évolution : </span>Identification et documentation des anomalies lors des tests en préproduction et production, proposition de correctifs pour résoudre les dysfonctionnements.</li>
				<li><span>Développer la présence en ligne de l'organisation : </span>Création de pages Web dynamiques, contribution à l’évolution de la plateforme en intégrant de nouvelles fonctionnalités interactives et responsives, ajout de fonctionnalités enrichissant l’expérience utilisateur sur le site Web.</li>
				<li><span>Travailler en mode projet : </span>Organisation et suivi des tâches sous forme de tickets pour structurer les activités, collaboration sur le développement des pages Web en utilisant une approche itérative et le partage des responsabilités entre coéquipiers, gestion des versions avec Git, évaluation des écarts entre les fonctionnalités attendues et les résultats observés.</li>
				<li><span>Mettre à disposition des utilisateurs un service informatique : </span>Réalisation de tests en conditions réelles pour valider le bon fonctionnement des fonctionnalités, déploiement de données fictives pour simuler des parcours utilisateurs et valider les comportements attendus, tests des pages développées pour garantir leur compatibilité et leur stabilité.</li>
				<li><span>Organiser son développement professionnel : </span>Mise en œuvre d’outils de gestion de version (Git) et de coordination des tâches, amélioration des compétences en développement Web et des pratiques de gestion en mode collaboratif, renforcement de la capacité à organiser et documenter le travail dans un environnement professionnel.</li>
			</ul>
		</p>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
		  const hash = window.location.hash;
		  const base = `${import.meta.env.BASE_URL || '/'}`;
		  if (hash.startsWith('#iknae-page-')) {
			const page = hash.split('-')[2];
			const iframe = document.getElementById('iknae') as HTMLIFrameElement;
			if (iframe && page) {
			  iframe.src = `${base}docs/Stage_Iknae.pdf#page=${page}`;
			  const iknaeContainer = document.getElementById('iknae-container');
			  if (iknaeContainer) {
				iknaeContainer.scrollIntoView({ behavior: 'smooth' });
			  }
			}
		  } else if (hash.startsWith('#thanksboss-page-')) {
			const page = hash.split('-')[2];
			const iframe = document.getElementById('thanksboss') as HTMLIFrameElement;
			if (iframe && page) {
			  iframe.src = `${base}docs/Stage_ThanksBoss.pdf#page=${page}`;
			  const thanksbossContainer = document.getElementById('thanksboss-container');
			  if (thanksbossContainer) {
				thanksbossContainer.scrollIntoView({ behavior: 'smooth' });
			  }
			}
		  }
		});
	  </script>

<style scoped>
	iframe {
		width: 750px;
		height: 1040px;
		border: none;
	}
	.pdf-content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
		padding: 2rem 2rem;
	}
	.text {
		width: 40%;
		margin-inline: 2rem;
		padding-top: 8rem;
	}
	h1{
		font-size: var(--text-xx-large);
		color: #D058EA;
	}
	h2 {
		font-size: var(--text-x-large);
		
		color: #97A5F4;
	}
	li{
		font-size: var(--text-medium);
		margin-bottom: 1.5rem;
		color: #C2E6FF;
	}
	span {
		font-size: var(--text-large);
		color: #70B8FF;

	}
	.text-center {
		display: none;
	}
</style>
