---
import '../../styles/global.css';

const base = import.meta.env.BASE_URL;
---

<section
	id="tableau"
	class="flex flex-col items-center w-full h-full md:max-w-full justify-center flex-wrap px-4"
>
	<div class="tableau__container">
		<table>
			<tr>
				<th class="diagonal-cell titles">
					<span class="top-right">Compétences</span>
					<span class="bottom-left">Réalisations</span>
				</th>
				<th class="titles periode">Période</th>
				<th class="titles case">Gérer le patrimoine informatique</th>
				<th class="titles case"
					>Répondre aux incidents et aux demandes d'assistance et
					d'évolution</th
				>
				<th class="titles case"
					>Développer la présence en ligne de l'organisation</th
				>
				<th class="titles case">Travailler en mode projet</th>
				<th class="titles case"
					>Mettre à disposition des utilisateurs un service
					informatique</th
				>
				<th class="titles case"
					>Organiser son développement professionnel</th
				>
			</tr>
			<tr>
				<th colspan="8" class="subtitle"
					>Réalisations en cours de formation</th
				>
			</tr>
			<tr>
				<td>Portfolio</td>
				<td class="period">07/08/2024<br />-<br />26/04/2025</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href="https://github.com/joyhure">Compte github</a></td>
				<td class="period">17/03/2024<br />-<br />26/04/2025</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href="https://www.linkedin.com/in/joy-huré-8223ab62">Compte Linkedin</a></td>
				<td class="period">05/04/2024<br />-<br />10/04/2024</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}projects/optitop/`}>Projet épreuve E6 : Optitop</a></td>
				<td class="period">04/09/2024<br />-<br />26/04/2025</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>				
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<th colspan="8" class="subtitle"
					>Réalisations en milieu professionnel</th
				>
			</tr>
			<tr>
				<td><a href={`${base}bts/realisations/#aa-page-4`}>Réorganisation informatique lors de travaux (Alain Afflelou)</a></td>
				<td class="period">31/01/2024<br />-<br />15/04/2024</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#iknae-page-6`}>Déploiement d'une machine virtuelle UBUNTU (IKNAE Techno)</a></td>
				<td class="period">01/05/2024<br />-<br />18/06/2024</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#iknae-page-16`}>Installation des outils de développement (IKNAE Techno)</a></td>
				<td class="period">01/05/2024<br />-<br />18/06/2024</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#thanksboss-page-7`}>Suivi et traitement des tâches sous forme de tickets (Thanks-boss)</a></td>
				<td class="period">30/09/2024<br />-<br />25/10/2024</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>			
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#thanksboss-page-9`}>Création de pages Web dynamiques avec HTML, CSS, JavaScript et Vue.js (Thanks-boss)</a></td>
				<td class="period">30/09/2024<br />-<br />25/10/2024</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>			
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#thanksboss-page-15`}>Collaboration via Git pour le suivi des versions (Thanks-boss)</a></td>
				<td class="period">30/09/2024<br />-<br />25/10/2024</td>
				<td></td>
				<td></td>
				<td></td>	
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>			
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#thanksboss-page-21`}>Tests et validation fonctionnelle des pages Web (Thanks-boss)</a></td>
				<td class="period">30/09/2024<br />-<br />25/10/2024</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>	
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>			
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/stages/#thanksboss-page-20`}>Création de données de test en préproduction (Thanks-boss)</a></td>
				<td class="period">30/09/2024<br />-<br />25/10/2024</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>	
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>			
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
			</tr>
			<tr>
				<td><a href={`${base}bts/realisations/#aa-page-13`}>Interventions sur les incidents techniques (Alain Afflelou)</a></td>
				<td class="period">05/03/2024<br />-<br />04/05/2025</td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			</tr>
			<tr>
				<td><a href={`${base}bts/realisations/#aa-page-23`}>Mise en service et intégration des Ray-Ban Meta (Alain Afflelou)</a></td>
				<td class="period">15/04/2025<br />-<br />26/04/2025</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="validation-container">
					<iconify-icon
						icon="ci:check-all"
						class="validation-icon"
						width="35"
						height="35"></iconify-icon>
				</td>
				<td></td>				
			</tr>
		</table>
	</div>
</section>

<style scoped>
	/*layout*/
	.tableau__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 2rem 0;
		box-shadow: 0 20px 32px rgba(0, 0, 0, 0.6);
		border-radius: 10px;
		overflow: hidden;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-radius: 10px;
		overflow: hidden;
		border: none;
	}

	.validation-container {
		text-align: center;
	}

	.period {
		text-align: center;
	}

	/*wrappers*/
	th,
	td {
		border: 1px solid #54346b;
		padding-inline: 0.6rem;
		text-align: left;
	}

	th {
		background-color: #f2f2f2;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;
	}

	td {
		color: #f2f2f2;
		text-align: left;
		background-color: #ecd9fa;
		color: #131313;
		font-size: var(--text-small);
		font-weight: 500;
		word-wrap: break-word;
		word-break: break-word;
		line-height: 1.2em;
		padding-inline: 0.4rem;
	}

	.diagonal-cell {
		position: relative;
		width: 25rem;
		height: auto;
	}

	.diagonal-cell::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to top right,
			transparent 49.75%,
			#54346b 49.9%,
			#54346b 50.1%,
			transparent 50.25%
		);
		z-index: 1;
	}

	.diagonal-cell .top-right,
	.diagonal-cell .bottom-left {
		position: absolute;
		width: 50%;
		height: 50%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.diagonal-cell .top-right {
		top: 0;
		right: 0;
	}

	.diagonal-cell .bottom-left {
		bottom: 0;
		left: 0;
	}

	.periode {
		width: 12rem;
	}

	.case {
		width: 120px;
	}

	/*utils*/
	/* Enlever les bordures extérieures */
	table tr:first-child th {
		border-top: none;
	}
	table tr:last-child td {
		border-bottom: none;
	}
	table tr td:first-child,
	table tr th:first-child {
		border-left: none;
	}
	table tr td:last-child,
	table tr th:last-child {
		border-right: none;
	}
	.titles {
		background-color: #131313;
		color: #e2ddfe;
		font-size: 1.3rem;
	}
	.subtitle {
		background-color: #54346b;
		color: #e2ddfe;
		font-size: 1.3rem;
	}

	.validation-icon {
		color: var(--primary-60);
		align-self: center;
	}
	a:hover {
		color: #D94CE8;
		font-weight: bold;
	}

	/* Shadows */
	th {
		box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
	}

	td {
		box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);
	}
</style>
