---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';

const base = import.meta.env.BASE_URL;
---

<Terminal nombre="joyH">
	<div class="terminal__skills">
		<h2>Mes Compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src={`${base}assets/html.svg`} color="#F5AE73" name="HTML" />

			<TerminalIcon src={`${base}assets/css.svg`} color="#0090FF" name="CSS" />

			<TerminalIcon src={`${base}assets/php.svg`} color="#8DA4EF" name="PHP" />

			<TerminalIcon src={`${base}assets/mysql.svg`} color="#FFD19A" name="MySQL" />

			<TerminalIcon src={`${base}assets/postgresql.svg`} color="#8EC8F6" name="PostgreSQL" />

			<TerminalIcon src={`${base}assets/javascript.svg`} color="#FFF394" name="Javascript" />

		</div>
	</div>
</Terminal>
