---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';

const base = import.meta.env.BASE_URL;
---

<Terminal nombre="joyH">
	<div class="terminal__skills">
		<h2>Stack Exploré</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src={`${base}assets/html.svg`} color="#F5AE73" name="HTML" />

			<TerminalIcon src={`${base}assets/css.svg`} color="#0090FF" name="CSS" />

			<TerminalIcon src={`${base}assets/bootstrap.svg`} color="#AB4ABA" name="Bootstrap" />

			<TerminalIcon src={`${base}assets/php.svg`} color="#8DA4EF" name="PHP" />

			<TerminalIcon src={`${base}assets/javascript.svg`} color="#FFF394" name="Javascript" />

			<TerminalIcon src={`${base}assets/vue.svg`} color="#3DD68C" name="Vue" />

			<TerminalIcon src={`${base}assets/astro.svg`} color="#E239AA" name="Astro" />
			
			<TerminalIcon src={`${base}assets/python.svg`} color="#FFD60A" name="Python" />

			<TerminalIcon src={`${base}assets/java.svg`} color="#EC6142" name="Java" />

			<TerminalIcon src={`${base}assets/spring.svg`} color="#3DD68C" name="SpringBoot" />

			<TerminalIcon src={`${base}assets/dart.svg`} color="#3B9EFF" name="Dart" />

			<TerminalIcon src={`${base}assets/flutter.svg`} color="#7CE2FE" name="Flutter" />

			<TerminalIcon src={`${base}assets/mysql.svg`} color="#FFD19A" name="MySQL" />

			<TerminalIcon src={`${base}assets/postgresql.svg`} color="#8EC8F6" name="PostgreSQL" />


		</div>
	</div>
</Terminal>
