---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './tools-on-terminal.css';

const base = import.meta.env.BASE_URL;
---

<Terminal nombre="joyH">
	<div class="terminal__tools">
		<h2>Outils & Logiciels</h2>
		<div class="terminal__tools__container">
			<TerminalIcon
				src={`${base}assets/vscode.svg`}
				color="#0090FF"
				name="VS Code"
			/>
			<TerminalIcon
				src={`${base}assets/github.svg`}
				color="#E8E8E8"
				name="Github"
			/>
			<TerminalIcon
				src={`${base}assets/windows.svg`}
				color="#0090FF"
				name="Windows"
			/>
			<TerminalIcon
				src={`${base}assets/ubuntu.svg`}
				color="#F76B15"
				name="Ubuntu"
			/>
			<TerminalIcon
				src={`${base}assets/chatgpt.svg`}
				color="#FBFEFD"
				name="ChatGPT"
			/>
			<TerminalIcon
				src={`${base}assets/trello.svg`}
				color="#0085D3"
				name="Trello"
			/>
			<TerminalIcon
				src={`${base}assets/notion.svg`}
				color="#FCFCFC"
				name="Notion"
			/>
		</div>
	</div>
</Terminal>
