---
import type { CollectionEntry } from "astro:content";
import {  menuBTS } from "../components/data/menuData";
import "../styles/global.css"
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Tableau from "../content/bts/Tableau.astro";
import Realisations from "../content/bts/Realisations.astro";
import Stages from "../content/bts/Stages.astro";
import Title from "../components/atoms/Title.astro";

const { title, slug } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={`${base}img/favicon.png`} type="image/png">
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

    <title>{title}</title>
  </head>
  <body>
    <Header  origin={menuBTS} name="Joy Huré"/>
    <main class="w-full flex flex-col justify-between  items-center pt-[13rem]" >
      {slug !== "stages" && (
      <div class="text-center" >
        <Title contenu={title} />
      </div>
      )}
      <section class="flex flex-col md:max-w-[100%]  max-w-[100%] min-w-[30rem]  px-20 justify-center w-[80%">
        {slug === "tableau" && <Tableau {...Astro.props} />}
        {slug === "stages" && <Stages {...Astro.props} />}
        {slug === "realisations" && <Realisations {...Astro.props} />}       
        <slot />
      </section>
    </main>
    <Footer/>
  </body>
</html>

<style scoped>
  html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  section {
		width: 100%;
	}
</style>